[2016-12-09 15:13] sanderv32 opened #4 "Job not found in version 1.0.7"
_Silox:_

[2016-12-13 11:22] willemvd commented on #4
Found the problem, it only occurs when you have setup authorization.
When giving everybody all rights, the build will start.
See we forgot to do the ACL stuff in this part, like we do in
https://github.com/jenkinsci/gogs-webhook-plugin/blob/master/src/main/java/org/jenkinsci/plugins/gogs/GogsPayloadProcessor.java#L52-L53

I will create a new pull request to fix this

[2016-12-13 14:17] sanderv32 commented on #4
Ok, thats nice that you have found it 👍
Will try to merge it tonight but i'm not able to test it.

[2016-12-16 09:04] nklmilojevic commented on #4
Hi,

I'm also having the same problem with my Gogs and Jenkins. Hope that it'll be fixed soon.

[2016-12-20 09:44] willemvd commented on #4
@sanderv32 you have merged #5 yesterday, but when will you release this?

[2016-12-20 10:33] sanderv32 commented on #4
I hope to release it this evening.

[2016-12-20 22:22] sanderv32 commented on #4
Just made release 1.0.8 with the fix @willemvd supplied. Now we'll have to wait before it's available in Jenkins.

[2016-12-21 09:05] nklmilojevic commented on #4
Alright, everything works now. Thanks.

[2016-12-21 09:09] willemvd commented on #4
@nklmilojevic agree 👍

[2016-12-21 13:28] gsantner opened #6 "Gitea support"
Hey there,
is it planned to also support Gitea <https://github.com/go-gitea/gitea> ?
Currently this plugin works with it and this is great, but Gogs and Gitea may differ in the future.
Gitea is the community driven fork of Gogs.

[2016-12-21 14:16] willemvd commented on #6
I'm also using this Jenkins / Gitea combination at the moment.
Don't think that they will change the (push) events, changing up front when you don't know what to expect is a little bit difficult ;)

[2016-12-22 10:54] sanderv32 commented on #4
Thanks guys! I will close this issue. :-)

[2016-12-22 10:54] #4 closed

[2016-12-22 10:58] sanderv32 commented on #6
I will support Gitea if they won't drift off from Gogs. :-)

[2016-12-28 21:23] KangoV commented on #6
We've just implemented GOGS ate work, but I'm keeping a close eye on Gitea as it seems to have far more activity. We may switch if it progresses much faster than GOGS. We're using this plugin to great effect.

[2016-12-28 21:34] KangoV opened #7 "Create new Job on receiving create hook."
It would be brilliant if this plugin could create a new job (based upon build for master) for a new branch in GOGS. The name could perhaps be configurable, but this would not matter. GOGS already supports sending a hook to a url on a branch and tag create.

[2016-12-28 22:10] gsantner commented on #6
@KangoV The earlier the better, as they will drift away

[2016-12-29 15:50] sanderv32 commented on #6
If this will be the case i will just create a fork of this repo and start the Gitea plugin from that point and onwards. Maintaining both plugins should be doable.

[2016-12-29 15:58] sanderv32 commented on #7
@KangoV Can you give me an example of what you want to achieve, because at the moment i can't imagine what you want to do.

[2017-01-04 10:48] KangoV commented on #7
@sanderv32 The idea is to have a new job created in jenkins to build a newly created branch in gogs. If we already have a job in Jenkins which is building master, then a new job should be created based upon the master build but building the branch instead.

I hope that makes sense.

[2017-01-04 22:15] sanderv32 commented on #7
I get your idea but this can be done with the pipeline plugin. Personally i want to keep this plugin simple and it should cooperate with other plugins like for example the pipeline plugin.

[2017-01-16 09:50] Silox commented on #4
Can confirm that it is fixed here too, thank you!

[2017-01-17 17:21] FGM opened #8 "Cannot find how to access payload"
I have set up the plugin on Jenkins and created the webhook. My jobs are triggered normally, but the only information I have access to appears to be the following:

    X-Gogs-Delivery: 580aada0-d020-45a7-9177-37c398e0ac99
    X-Gogs-Event: push

Even looking at the plugin source code, I can't see where it would pass the payload to Jenkins. How then are jobs supposed to obtain the information they

[2017-01-17 20:20] #7 closed

[2017-01-17 20:28] sanderv32 commented on #8
At the moment we don't pass payload data to Jenkins, but probably this is something we can build in easily. Will investigate this.

[2017-01-18 12:48] FGM commented on #8
Wondering: if you did not feel the need to include that feature, how do you use the plugin to trigger the appropriate builds in Jenkins ? I thought the git plugin would poll git and find the latest commit not yet tested, but this does not appear to be the case: the SHA1 returned is not the most recent, nor even on the most recently modified branch.

[2017-01-18 13:00] sanderv32 commented on #8
It's a webhook so it doesn't poll your repo for changes. Your repo should post to this webhook the job it wants to execute and than that job will run. This webhook is not different than all the other webhooks in the Jenkins plugin repo.

[2017-01-19 09:03] fabienjuif commented on #8
I'd like to use this plugin in this way, and I think it is the same way than @FGM
 - I push a commit on my Gogs server
 - Gogs calls jenkins
 - Jenkins now the `commit hash` so :
   - It pulls the source code from this `commit hash`
   - It builds it (with a Jenkinsfile)

So I have only **one** job that can run with **multiple branches**.

[2017-01-19 09:08] sanderv32 commented on #8
Ok this is clear and also doable. I will create a new option in the plugin which takes the data from the payload because otherwise it will break for the way other users work at the moment.

[2017-01-19 09:09] FGM commented on #8
@fabienjuif thanks, you explained it better than I did, this is exactly the idea. Using git flow, we create multiple branches per day so it wouldn't make sense to have one job per branch: this only works for long-lived branches, not feature/hotfix branches like these.

[2017-01-19 09:11] fabienjuif commented on #8
Nice @sanderv32 :+1: thank you.

[2017-01-25 10:35] KangoV commented on #8
This is the functionality we need also. Question though, how would Jenkins show the results of multiple branch build for a single job?

[2017-01-25 13:42] sanderv32 commented on #8
@KangoV The webhook will in this case just modify your job, so the results will be in the same job.

[2017-01-28 16:22] FGM commented on #8
@KangoV In my case this job would be mostly useful to notify the dev authoring the commit after running the (long-running) test suite. I would have normal fixed-branch jobs for long-lasting branches like develop/master.

[2017-02-07 08:52] marcopiraccini opened #9 "The branch is ignored"
I setup gogs + jenkins + this plugin.
I have a job that builds `master`.
Currently, when I push a commit in `test` branch, jenkins build is triggered, and `master` branch is build.
There's a way to have a more "smarter" trigger, that specify the branch to avoid that?

[2017-02-07 09:06] sanderv32 commented on #9
You can specify which branch you want to checkout in your job. If this is not what you're looking for then you probably experiencing issue #8

[2017-02-10 08:07] #9 closed

[2017-02-10 08:09] sanderv32 commented on #8
At the moment the development branch exposes the "ref" and "after" key from the JSON payload. So now it's possible to use GOGS_REF and GOGS_AFTER as environment variables which you can use in your "Branch to build". If someone can test it i would be very happy :-)

[2017-02-12 08:35] sanderv32 commented on #8
You can download the latest snapshot from: https://jenkins.ci.cloudbees.com/job/plugins/job/gogs-webhook-plugin/6/org.jenkins-ci.plugins$gogs-webhook/

[2017-02-20 06:09] jf647 opened #10 "Does not work with jobs in folders"
When using the Cloudbees Folder plugin, the webhook cannot start jobs that are in folders.  The log reports:

WARNING: Job 'foo/bar' is not defined in Jenkins
Feb 19, 2017 10:00:19 PM org.jenkinsci.plugins.gogs.GogsWebHook exitWebHook
WARNING: Job 'foo/bar' is not defined in Jenkins
Feb 19, 2017 10:01:23 PM org.jenkinsci.plugins.gogs.GogsWebHook doIndex
WARNING: Job 'foo/job/bar' is not defined in

[2017-02-20 10:55] willemvd commented on #10
Tested this and I think you can just use "bar" as the job name in Gogs/Gitea, so:
/gogs-webhook/?job=bar

This also showed me a problem with the fact that we at the moment only look at the job.getName() .
If the name of a job is used in 2 different folders, it is possible that we cannot find the right job.
Will create a new PR to address this issue.

@jf647 could you confirm that only the job name

[2017-02-20 12:21] tkisme opened #11 "Multibranch Pipeline support"
when I try with Multibranch in jenkins
{"result":"ERROR","message":"Job 'xxx' is not defined in Jenkins"}

[2017-02-20 12:27] tkisme commented on #8
refer #11

[2017-02-20 12:27] tkisme commented on #11
#8

[2017-02-20 12:27] #11 closed

[2017-02-22 20:54] gvinicius opened #13 "Broken link to download binary"
That link in your README is broken: https://github.com/sanderv32/gogs-webhook-plugin/raw/master/bin/gogs-webhook.hpi.

[2017-02-22 23:58] sanderv32 commented on #13
Removed the download link as you can beter download it from the jenkins plugin wiki.

[2017-02-22 23:59] #13 closed

[2017-03-01 07:48] tkisme opened #14 "net.sf.json.JSONException: JSONObject["secret"] not found."
NOW USE X-Gogs-Signature

[2017-03-01 20:40] MindTwister commented on #14
I'm having the same issue

Gogs version: 0.10.1.0228
Go version 1.7.4
Jenkins version 2.48

I have attached the stack trace.

[jenkins-stacktrace.txt](https://github.com/jenkinsci/gogs-webhook-plugin/files/811977/jenkins-stacktrace.txt)

[2017-03-01 20:51] mattddowney commented on #14
Experiencing this on 0.10.1 as well, looks like the gogs update caused it, this commit specifically: https://github.com/gogits/gogs/commit/6ec859f2b0c1bade67d04f740ec4b9ac9ae0ec98

Downgrading gogs to 0.9.141 fixes the issue until the plugin can get updated.

[2017-03-01 23:01] SMEmp commented on #14
Made a pull request, was going to request a review as I haven't done Java in awhile, but it looks like it's automatically required anyway.

[2017-03-02 08:08] sanderv32 commented on #14
Reviewing will be done by jenkins before I can push the merge button. Also i won't merge this pull as it only gets the header, but this value is a hexdigest which is not compared against the secret filled in Jenkins so this will definitely break the plugin!

[2017-03-02 12:38] Unknwon commented on #14
Hi...

1. Downgrade to 0.9.* can lead to unable to push because different mechanism of Git Hook.
2. This site (http://beautifytools.com/hmac-generator.php) produces same output (other sites just didn't handle line breaks correctly) from my test
3. Example:

Payload:

[code]

Secret: `111111`

Output: `9a1830da3d547ceb8bba2526a2e16f30a88974e58b6fbaac3f1d95dfec203e8d`

It is not encryption/decryptio

[2017-03-02 12:50] willemvd commented on #14
if header is present, use the new technic
if not present, go with the old way

Think this should be the case since we otherwise would break old versions and people using this plugin with Gitea (not sure if this is ported).

We should indeed:
- If the X-Gogs-Signature header is provided -> calculate the SHA256 HMAC value with the, in Jenkins, provided secret and compare this to the value in the X-G

[2017-03-02 13:43] tkisme commented on #14
always get 746fe31104dcebeb07e47f3e2a6d79db0d5370c87574663a45a81cc6f602c8a9

[2017-03-02 14:11] willemvd commented on #14
@tkisme what do you mean? What case? Please place your comment in context 😄

[2017-03-02 18:20] Unknwon commented on #14
@mattddowney if you haven't use any custom Git hooks, remove all `hooks` directories for all your repositories, and go admin panel to regenerate all `update` hooks.

[2017-03-02 19:09] mattddowney commented on #14
@Unknwon thanks I was able to get things going again!

Not saying this will work for everyone, but this is what I did, so do so at your own risk:

1. Rollback to 0.9.141 (hopefully you installed via docker)
2. Navigate to your gog-repositories folder
3. Run the following:
[code]
4. Go to admin panel and run "Rewrite all update hook of repositories (needed when custom config path is changed)"

For

[2017-03-03 01:03] tkisme commented on #14
[code]
or
[code]

[2017-03-03 09:04] willemvd commented on #14
Is this still a request to fix here (as stated in my https://github.com/jenkinsci/gogs-webhook-plugin/issues/14#issuecomment-283645259 or is this now only a problem in Gogs?

[2017-03-03 09:10] willemvd commented on #10
Think this can be closed since #12 is merged

[2017-03-03 20:30] Unknwon commented on #14
@willemvd I think you should ask Gitea devs if they have ported this feature from Gogs.

[2017-03-04 03:36] tkisme commented on #14
Tested in local.

[2017-03-04 10:15] willemvd commented on #14
@Unknown It is not yet ported to Gitea

[2017-03-04 10:36] sanderv32 commented on #10
#12 is merged :-)

[2017-03-04 10:36] #10 closed

[2017-03-04 10:41] sanderv32 commented on #8
This branch needs to be tested before i'm going to make a pull request and merge it. Can someone have a look if this works?

[2017-03-04 10:49] sanderv32 commented on #14
There is already a PR #16 and if this one is cleaned up and tested i can do the merge.

[2017-03-04 14:41] tkisme commented on #14
cleaned up but need more test

[2017-03-06 08:43] sanderv32 commented on #14
Merged PR #16. Release of this plugin in the official repo will be this week.

[2017-03-06 08:52] #14 closed

[2017-03-07 20:12] fuhbar commented on #10
@willemvd Yes, this works by just supplying the job name while using foldered jenkins setups.

[2017-03-07 21:45] fuhbar commented on #10
@sanderv32 When will this change released? Or how do I use nightly builds or something?

[2017-03-07 21:49] sanderv32 commented on #10
@fuhbar You can get an artifact from the [JenkinsCI buildserver](https://jenkins.ci.cloudbees.com/job/plugins/job/gogs-webhook-plugin/) for the time being. Will try to release a the new version before the end of the week.

[2017-03-09 06:46] vpertj commented on #14
Caused by: net.sf.json.JSONException: JSONObject["secret"] not found

[2017-03-09 06:47] vpertj commented on #14
© 2017 Gogs 当前版本: 0.10.8.0307

[2017-03-09 08:47] sanderv32 commented on #14
@vpertj Can you please be more specific then you are now? :-)

[2017-03-09 09:28] tkisme commented on #14
@vpertj update plugin in jenkins,1.0.9 is working well

[2017-03-12 06:51] xxxifan opened #17 "how to build pushing branch ?"
like push A branch to gogs, and jenkins start to build this branch instead of default branch set by jenkins?

[2017-03-12 07:44] sanderv32 commented on #17
#8 is stil open and probably this is what you want.

[2017-03-12 07:44] #17 closed

[2017-03-13 14:53] slPerryRhodan opened #18 "Webhook doesn't work without a password/secret"
Gogs Version (Docker Tag): 0.10.8
Jenkins Plugin Version: 1.0.9
Reference: #https://github.com/gogits/gogs/issues/4269

Hello,

I'm forced to use a password/secret when I want to use Webhooks of Gogs, otherwise the Jenkins plugin (1.0.9) throws an exception:
<pre style="margin:2em; clear:both">javax.servlet.ServletException: net.sf.json.JSONException: JSONObject["secret"] not found.
....
Caused by

[2017-03-13 21:56] willemvd commented on #18
In the Gogs thread I see that the X-Gogs-Signature field could be empty. Is this correct? Can a user disable this header to be filled? Maybe for @Unknwon ?

[2017-03-13 21:57] Unknwon commented on #18
@willemvd empty means user didn't set secret.

[2017-03-13 22:50] willemvd commented on #18
@Unknwon thanks

[2017-04-07 10:03] xXpc-freakXx commented on #8
I have a problem with a multibranch pipeline.
For example, the name of the multibranch pipeline is "test" and in this pipeline i have the branches "master" and "develop".
If i set the web hook url to "https://<<jenkins-server>>/gogs-webhook/?job=test", then he can't find the pipeline on jenkins.
When i rename the job on the url to "test/master" or "test/develop", then is the hook successfull.

To

[2017-04-10 15:00] #18 closed

[2017-04-11 19:30] S3NS4Ti0N commented on #8
@xXpc-freakXx I added a PR for adding this functionality.

https://github.com/jenkinsci/gogs-webhook-plugin/pull/20

[2017-04-11 19:33] S3NS4Ti0N commented on #17
@xxxifan @sanderv32

I added PR https://github.com/jenkinsci/gogs-webhook-plugin/pull/20 for adding this functionality.

[2017-04-11 19:34] drmaniac opened #21 "Support for Multibranch pipeline"
I miss the feature to send a hook request against a multibranch pipeline.
The current situation is that you are only able to send a request against a known branch. Neverless the gogs web hook send within the request which branch has been changed. This needs to be processed and in case of an multibranch pipeline only the branch should be triggered.

[2017-04-11 19:37] drmaniac commented on #21
Sorry I just see that an pull request with this feature has been committed. So I close this.

[2017-04-11 19:37] #21 closed

[2017-04-13 07:51] willemvd commented on #8
@sanderv32 could you merge master into development? Maybe I will be able to test it but not without the current features

[2017-04-13 09:18] samuele-locatelli opened #22 "Problem calling Multibranch Pipeline"
While I can call directly a job for a specific branch (and thus making a NEW BUILD) as configured here

![image](https://cloud.githubusercontent.com/assets/17980287/24998465/81f1c286-203a-11e7-8f25-df3b99576090.png)

 I cannot find how to call an equivalent of a "Scan Multibranch Pipeline Now" command (that causes a build ONLY if a branch has a new commit).

![image](https://cloud.githubuserconten

[2017-04-13 09:21] samuele-locatelli commented on #22
sorry, it's a duplicate of issue 8, closing...

[2017-04-13 09:21] #22 closed

[2017-04-21 06:21] tkisme commented on #8
You can download the latest snapshot from: https://jenkins.ci.cloudbees.com/job/plugins/job/gogs-webhook-plugin/29/org.jenkins-ci.plugins$gogs-webhook/

[2017-04-21 07:13] sanderv32 commented on #8
@tkisme Can you share the code with us? @willemvd Tried to master into development, but the development is way behind and it's not that easy to implement that code again.

[2017-04-21 08:51] tkisme commented on #8
https://github.com/jenkinsci/gogs-webhook-plugin/pull/20/files do you mean this?

[2017-04-23 19:40] S3NS4Ti0N commented on #8
@sanderv32
When will my pr get merged ?

[2017-04-24 17:55] sanderv32 commented on #8
@S3NS4Ti0N I want to merge it but as we don't have unit test at the moment we have to be sure that it won't break the plugin.

[2017-04-24 23:06] S3NS4Ti0N commented on #8
Uhm ... Then what about testing it ?

I have it working like this without any problems.

[2017-04-25 01:20] tkisme commented on #8
@S3NS4Ti0N please write unit tests

[2017-04-25 15:30] sanderv32 commented on #8
@S3NS4Ti0N because this can potentially break even the basics of the plugin, i will merge this if more people will test you PR. If it works fine i will merge it, and for the next release unit tests should be written.

[2017-05-07 18:17] lafriks opened #24 "Gitea commit status update in post-build step"
Would be great if this plugin could also provide post-build step to update commit status (success/failure)

[2017-05-15 17:59] sanderv32 commented on #8
Sorry for the delay, but did the PR and waiting for the rebase of the unit test. After that we can release version 1.0.12

[2017-07-19 07:49] stephenc commented on #6
https://github.com/jenkinsci/gitea-plugin

[2017-07-19 07:49] stephenc commented on #24
FYI https://github.com/jenkinsci/gitea-plugin

[2017-07-19 07:51] sanderv32 commented on #24
Thanks for the info.

On Wed, Jul 19, 2017 at 9:49 AM, Stephen Connolly <notifications@github.com>
wrote:

--
Unix is very simple, but it takes a genius to understand the simplicity.
(Dennis Ritchie)

[2017-07-19 08:09] sanderv32 commented on #6
Anyone here already tested the Gitea plugin?

[2017-07-27 01:13] damianb opened #29 "No ability to ignore user/commit from webhook push"
As on tin.  If you commit things back into the repo, this triggers the webhook again with no way to ignore the commit, it seems.

[2017-08-06 13:51] appleboy commented on #6
@stephenc Where is documentation for gitea-plugin?

[2017-08-07 11:45] stephenc commented on #6
It is essential the same as GitHub Branch Source or Bitbucket branch source. If somebody has the time to contribute docs then PRs welcome, but my work time is focused elsewhere and my spare time is limited.

 I will probably add triggering freestyle jobs to the event support as I'm recommending the gitea plugin as a reference impl for a correct and performant implementation of scm-api

[2017-08-07 11:48] sanderv32 commented on #6
Seems like we have the same problem. For the gogs-webhook-plugin i also
have limited spare time, so contribution is welcome to both projects!

On Mon, Aug 7, 2017 at 1:45 PM, Stephen Connolly <notifications@github.com>
wrote:

--
Unix is very simple, but it takes a genius to understand the simplicity.
(Dennis Ritchie)

[2017-08-17 21:15] sanderv32 commented on #29
The webhook in Gogs is executed on every push, so how can we ignore the commit? The only thing I can think off is that we ignore the commit if you prefix it with for example `IGN:`.

[2017-10-16 09:08] ilyasotkov commented on #4
I have this issue with Gogs plugin 1.0.10. I use Gogs 0.11.29.0727 and Jenkins 2.84 . The response I get:
[code]

[2017-10-18 06:41] jmMeessen commented on #4
Hello @ilyasotkov
Thank you for reporting this. I will try to reproduce this and investigate.

For clarity, could you please open a separate issue for this.

/- Jmm

[2017-10-18 09:01] jmMeessen commented on #4
Hello @ilyasotkov
I was not able to reproduce your issue with Jenkins 2.84 and Gogs 0.11.29 (in the state available in the DockerHub images). I used for that the Automated Integration Tests I am working on.

When you have opened the adhoc ticket, can you describe what you try to achieve and how ?

/- Jmm

[2017-12-27 07:54] CritasWang opened #30 "How can filter branch"
How can filter branch。
like devProject only excute by push develop branch

[2017-12-31 05:21] pjmeisch-cc commented on #8
any progress on this to get multibranch projects working?

[2018-01-15 15:11] neverwet commented on #30
Yep, I didn't find this feature too :(

[2018-01-15 18:44] sanderv32 commented on #30
At the moment there is no filter function like this. I only don't know the ETA for this as there are also other issues which need to be fixed and i'm the only contributor at the moment and my spare time is precious.

[2018-01-20 18:16] sanderv32 commented on #29
@damianb Will build in that if the message start with `[IGNORE]` the webhook will ignore the push.

[2018-01-31 21:31] kkolk opened #32 "New release?"
There are some things that are currently affecting me in the version of the plugin you can download through Jenkins, which have been fixed in accepted pull requests over the past year, but there hasn't been a new version put out since last April.

Any plans to issue an updated release?

[2018-02-15 14:16] urusha commented on #8
Could you please add https://github.com/jenkinsci/gogs-webhook-plugin/commit/316e62263d1d76cdbe58a807d88970acd5ba24c3 to master, since the build number 6 with this feature is unavailable now (rotated?).

[2018-02-22 11:41] maxep commented on #8
Will it be released soon? I also need the multibranch pipeline feature.
Thanks!

[2018-02-22 14:14] Crayon2000 commented on #8
@maxep, for Pipeline / Multibranch Pipeline project I use a Webhook with a **Payload URL** like this:
`https://jenkinsserver.com/git/notifyCommit?url=https://gogsserver.com/org/project.git`
This will NOT trigger a build on a specific project, but will tell all project using the repository to Scan for changes. If changes are found, then it will trigger the build.

In the **When should this webhook

[2018-02-26 15:15] christophe-mailfert commented on #32
any news ?

[2018-02-26 15:33] christophe-mailfert commented on #32
@sanderv32 The current version of this plugin (https://wiki.jenkins.io/display/JENKINS/Gogs+Webhook+Plugin) does not accept pipeline jenkins (blue ocean)

Any news about a new version ?

[2018-02-26 18:38] sanderv32 commented on #8
Have released version 1.0.11. Changelog on the wiki page is not yet updated (although I can see it). Because of lack of time it's not 100% tested.

[2018-02-26 18:39] sanderv32 commented on #32
Released version 1.0.11 today. Wiki page still needs to be updated.

[2018-02-26 18:39] #32 closed

[2018-02-27 19:27] urusha commented on #8
Still no support for payload via environment :(

[2018-02-28 10:55] sanderv32 commented on #8
If you refer to the development branch, then that's correct that the environment variables aren't there at the moment. Maybe in the weekend I have some time to merge it in the current master but I can't make a promise.

[2018-02-28 12:19] geco82 commented on #30
+1

[2018-02-28 12:48] sanderv32 commented on #30
Version 1.0.11 has this feature.

[2018-02-28 16:50] geco82 commented on #30
Could you please explain me the usage? Thanks!

[2018-02-28 17:05] sanderv32 commented on #30
Just put '[IGNORE]' in front of your commit to ignore the push.

[2018-02-28 17:09] sanderv32 commented on #30
See: https://github.com/jenkinsci/gogs-webhook-plugin/commit/1c1abd578fd90f7b4f5815e8968d20be6f9bb844

[2018-03-04 23:40] sanderv32 commented on #8
@urusha Development branch is up to date with all the changes in the master. Pipeline is not green at the moment but you can already download the development hpi [here](https://ci.jenkins.io/job/Plugins/job/gogs-webhook-plugin/job/development/3/artifact/target/gogs-webhook.hpi).

[2018-03-05 07:44] urusha commented on #8
Thanks for your work! Tried that one, got `{"result":"ERROR","message":"Job 'jobname' is not defined in Jenkins"}` when triggering (with and without new GOGs checkbox in 'Build Triggers' section). So, can not tell if ENV works.

[2018-03-07 14:06] YuukanOO commented on #8
v1.0.11 seems to work for me 👍 !

[2018-03-07 14:49] bastienlemaitre commented on #8
Works for me too ! :)

[2018-03-07 15:13] maxep commented on #8
Works with multibranch pipeline? I still got the same error as @urusha
`{"result":"ERROR","message":"Job '...' is not defined in Jenkins"}`

[2018-03-07 15:39] YuukanOO commented on #8
I just have to click on **Scan Multibranch Pipeline Log** in Jenkins for it to create the job associated with the branch and when webhook `POST` to `http://jenkins/gogs-webhook/?job=MyJob`, it runs the pushed branch.

[2018-03-07 16:34] maxep commented on #8
My bad, I was testing with master but my pipeline is not merged yet :) thanks @YuukanOO

[2018-03-08 14:04] willemvd commented on #8
@sanderv32 today we started using the GOGS_REF variable with the development branch hpi and that is working great!

[2018-03-08 20:43] sanderv32 commented on #8
@willemvd Thanks for the feedback! Will create a release from the development branch.

[2018-03-09 00:04] sanderv32 commented on #8
Development branch is merged into master and released version 1.0.12.

[2018-03-10 10:26] danielecr opened #34 "jenkins do not act on "Release""
![only_release](https://user-images.githubusercontent.com/2484638/37241226-031e4ba2-2456-11e8-817e-5e347f1e3b60.png)
When selected only release on gogs webhook, jenkins does not undersand and does not start pipeline.
When selected "Push" them it works.
I release by:

[code]

[2018-03-10 11:37] sanderv32 commented on #34
Are you sure this is a `gogs-webhook-plugin` problem and not a gogs problem? Tested it myself but with the release checkbox checked no webhook is triggered. TCPDUMP also didn't show up any packets on the webhook, so I suspect `gogs` is the problem.

[2018-03-10 14:17] sanderv32 commented on #34
Investigated the problem but Gogs isn't triggering the webhook. This issue is also reported here [#5042](https://github.com/gogits/gogs/issues/5042). Secondly until now we only trigger on push events, see line 104 in the file [GogsWebHook.java](https://github.com/jenkinsci/gogs-webhook-plugin/blob/master/src/main/java/org/jenkinsci/plugins/gogs/GogsWebHook.java#L104). If the Gogs issue is solved w

[2018-03-10 14:17] #34 closed

[2018-03-12 09:54] urusha commented on #8
@sanderv32  Environment seems to work fine, but even with the last release I still got `{"result":"ERROR","message":"Job 'dirname/jobname' is not defined in Jenkins"}` if the job is placed in folder. Without folder all is ok. Should I file new report?

[2018-03-12 23:20] sanderv32 commented on #8
@urusha If this didn't work in the past, version 1.0.12 will not fix this then please create a new issue for that so that we can create a version for that one.

[2018-03-13 07:48] urusha commented on #8
@sanderv32 This worked before 1.0.12. But doesn't work with 1.0.12

[2018-03-13 18:45] sanderv32 commented on #8
@urusha Will create a new issue for this.

[2018-03-13 18:45] #8 closed

[2018-03-13 18:47] sanderv32 opened #36 "Job 'dirname/jobname' is not defined in Jenkins"
With the last release I still get `{"result":"ERROR","message":"Job 'dirname/jobname' is not defined in Jenkins"}` if the job is placed in a folder. Without folder all is ok.

[2018-03-13 18:48] sanderv32 commented on #36
@urusha Investigating this problem. Can you confirm that version 1.0.11 is working?

[2018-03-14 08:14] urusha commented on #36
Yes, confirming.

[2018-03-14 08:47] everccc opened #38 "Cant get the 1.0.12 new env variables (GOGS_REF and GOGS_BEFORE) in pipeline."
Cant get the Version 1.0.12 new env variables (GOGS_REF and GOGS_BEFORE)  in pipeline.

sh("printenv") show without GOGS_REF  and GOGS_BEFORE.
Am i missing something?

- Gogs version (or commit ref): 0.11.34.1122
- Jenkins version: 2.89.4
- other module all up to date

## Description

...

[2018-03-14 08:49] sanderv32 commented on #36
Thanks. Found the problem and i'm working on PR #37 which fixes the problem.

[2018-03-15 07:59] sanderv32 commented on #38
Under `Build Triggers` did you enable Gogs-Webhook?

[2018-03-15 23:47] sanderv32 commented on #36
Released version 1.0.13 with the fix. Integration test is also inplace so if this breaks again it's noticed.

[2018-03-17 19:02] sanderv32 commented on #24
@lafriks Do you mean a badge like in the README.md of this project?

[2018-03-22 09:17] everccc commented on #38
You mean "Build when a change is pushed to Gogs" this ?
Sorry for not notice it at first .
and i create a small service to handle gogs webhook and call jenkins job with custom policy.So now i am
 not using this plugin  for now.

Thanks for replying.
As gogs do not add filter of  webhook trigger by seperate branches .I think it  should be great that gogs-webhook-plugin can handle it .

[2018-03-22 09:17] #38 closed

[2018-03-23 12:03] theobolo commented on #36
Hello @sanderv32, even with your last Pull Request, i'm still facing that issue :

Jenkins version : 2.110
Gogs-plugins version : 1.0.13

I'm using a Multibranch pipeline called "application-streams" defined on Jenkins into a job with the same name and display name : application-streams.

I'm using your plugin since a long time ago but the Webhook is still flaky and not fully functionnal :

![imag

[2018-03-23 22:09] sanderv32 commented on #36
Can you please paste the request as the response is clear that the job can't be found.

[2018-03-26 13:45] theobolo commented on #36
@sanderv32 Hello, there it is :

[code]

[2018-03-27 15:58] christophe-mailfert opened #39 "Jenkins pipeline blue ocean with gogs-webhook-plugin"
- Gogs version (or commit ref): 0.9.141.0211
- Jenkins version: 2.101
- Jenkins modules used in combination with gogs-webhook-plugin: blue-ocean, pipeline
- JSON Output of webhook: None Error 500

## Description
I'm looking for some documentation for running / configuring gogs-webhook-plugin with jenkins pipeline & blue ocean.

I tried webhook uri:
- http://myjenkins/gogs-webhook/
- http://myjenki

[2018-03-28 14:59] theobolo commented on #36
@sanderv32 Well it seems that not all my job are concerned about that... i've a Jenkins job called "docker-elasticsearch" on the same repo, but under the user `theo.bolo` and not `CoursierPrive.com` (the git user).

I'm not sure where this come from but it's working with some jobs...

[2018-03-28 18:17] sanderv32 commented on #36
@theobolo Just out of curiosity, did the previous version of the webhook-plugin show the same behaviour?

[2018-03-30 10:11] theobolo commented on #36
@sanderv32 I'm not really sure about that, i know that it was working recently but still flaky, but i can't tell if i was on 1.0.12 or a previous one.

Basically it's working on some jobs, even on job with the same `CoursierPrive.com` user on gogs.

[2018-03-30 11:44] theobolo commented on #36
@sanderv32 I found that the master branch is working on the `application-streams` project. But not working on branches.

[2018-03-30 17:05] sanderv32 commented on #36
@theobolo Thanks for the info. I will try to work on the plugin this weekend.

[2018-04-01 22:12] sanderv32 commented on #36
@theobolo Just tested the plugin with the multibranch plugin and what i saw in the debugger is that the multibranch project you create is not a job. Every stage in the `Jenkinsfile` will be created as a job which can be called from the webhook.

[2018-04-03 11:40] theobolo commented on #36
@sanderv32  Yep it's working with multibranch but not on all my branches, maybe because i usea kind of `releases/release-vX.X.X` as branch name no ?

[2018-04-03 16:19] christophe-mailfert commented on #39
Ok got an update :)

I got a new error:

Call
Request URL: http://jenkins.miodex.com/gogs-webhook/?job=pad-api
Request method: POST
Content-Type: application/json
X-Gogs-Delivery: e8afa794-9124-4584-9d94-48e380775868
X-Gogs-Event: push

Response:
Content-Length: 0
Date: Tue, 03 Apr 2018 16:12:30 GMT
Location: https://jenkins.miodex.com/gogs-webhook/?job=pad-api
Server: lighttpd/1.4.45

Any id why

[2018-04-03 18:44] sanderv32 commented on #39
Hi @christophe-mailfert. This is not the webhook redirecting you, but it looks like lighttpd is doing this.

[2018-04-03 19:29] sanderv32 commented on #36
Thanks for that info @theobolo . The refs are split by slash and the last element is used as the job name, but if the slash is part of the branch/tag name the split doesn't work correctly. Just made a new version and tested it against a branch with a slash and it worked. Will push the fix to another PR and if that one is building correctly I will create a new release.

[2018-04-03 22:36] sanderv32 commented on #36
Released version 1.0.14 with the fix

[2018-04-05 09:53] theobolo commented on #36
@sanderv32 Very well done ! It's working now :) Great Thanks

[2018-04-05 10:38] #36 closed

[2018-04-06 07:55] sanderv32 commented on #36
@theobolo Have close this issue, but also want to thank you for pointing out this bug.

[2018-04-06 07:56] sanderv32 commented on #39
@christophe-mailfert Any progress finding the cause of the redirect?

[2018-04-06 07:58] christophe-mailfert commented on #39
@sanderv32 Yes that was a missconfiguration of lighttpd.

Thx a lot.

I close the ticket.

[2018-04-06 07:58] #39 closed

[2018-04-06 07:59] sanderv32 commented on #39
Ok, that can happen.

[2018-04-23 21:09] ketyboss opened #43 "GOGS_REF can't be found in Jenkinsfile"
- Gogs version (or commit ref): 0.11.43
- Jenkins version: 2.107.2
- Jenkins modules used in combination with gogs-webhook-plugin:
- JSON Output of webhook:
{
  "ref": "refs/heads/master",
  "before": "8c276adb0dd7b0a4a807166f9f4cc6413f81c0ad",
  "after": "08785465b1eb8c324ede4d58455c00b5e421f7d7",
  "compare_url": "https://...",
  "commits": [
    {
      "id": "08785465b1eb8c324ede4d58455c00b5e4

[2018-04-24 05:06] sanderv32 commented on #43
Did you enable 'Build when a change is pushed to Gogs'? Without it to environment variables are not set.

[2018-04-24 19:48] ketyboss commented on #43
Thanks for the answer. No, I did not click that. I did not find that in any documentation.
Can you please tell me how I can make this setting in Jenkinsfile?

[2018-04-29 08:44] sanderv32 commented on #43
@ketyboss The current implementation in the plugin doesn't work properly with the Jenkinsfile. Will release this is the next version of the plugin.

[2018-05-09 15:58] jpshields opened #44 "Multibranch pipeline scan is launched if branch name is not found"
- Gogs version (or commit ref): 0.11.43.0330
- Jenkins version: 2.107.2
- Jenkins modules used in combination with gogs-webhook-plugin:

Can this be done? I'd like to have a first new branch/build at the first push in my multibranch pipeline job. Right now, the behavior I'm seeing is that if the branch has not been build once by jenkins (by a scan which is configured by polling or manual triggerin

[2018-05-09 19:53] sanderv32 commented on #44
@jpshields For the current version I won't implement this. Currently i'm busy refactoring the plugin but can have a look for the new version if this is possible.

[2018-05-13 20:11] sanderv32 commented on #43
@ketyboss You can try to test drive the last snapshot version which can be downloaded [here](https://ci.jenkins.io/job/Plugins/job/gogs-webhook-plugin/job/refactoring/13/artifact/target/gogs-webhook.hpi). This version exposes all except the arraylist to environment variables.

[2018-05-13 22:42] sanderv32 commented on #43
Try this in your steps:
`echo sh(script: 'env|sort', returnStdout: true)`

[2018-05-14 07:58] ketyboss commented on #43
It works! But only if the project is set up as a multibranch project. If that is as Maven then there are no GOGS variables in output
Multibranch:
[code]
Maven Project - empty blok of GOGS

[2018-06-05 09:45] sagaii opened #45 "gogs-webhook didn't support gogs release event"
- Gogs version (or commit ref):
- Jenkins version: Jenkins ver. 2.107.3
- Jenkins modules used in combination with gogs-webhook-plugin:
- JSON Output of webhook: {"result":"ERROR","message":"Only push event can be accepted."}

## Description
I had  tried to config my gogs system to support auto release my test version to work version.
so i hope in gogs system create one repo version , it will send

[2018-06-05 18:04] sanderv32 commented on #45
@sagaii what should the release event do other then triggering a job?

[2018-06-09 11:12] sagaii commented on #45
Gogs-webhook receive release event ,   triggering a job.  and the job can execute deploy work,t example copy program from test environment to production environment.

[2018-06-09 11:16] sagaii commented on #45
in this gogs-webhook didn't support release event. so i only use build token root plugin  , create a url link to  triggering a job.

[2018-06-10 05:02] sagaii commented on #45
yes, i think so .   it same as a push event.   but i need it . :) .

[2018-06-19 12:50] lafriks commented on #24
Closing as there is already separate gitea plugin that does support this

[2018-06-19 12:50] #24 closed

[2018-08-17 14:15] schlitzered commented on #45
hello i would also need a feature like this, the jenkins plugin should react on tag creation, reacting on release creation would also work, since it basically creates a tag.

[2018-08-17 22:27] fseidler commented on #45
Hello
I also need this feature, I have different jobs that should run based on the type of the event: release or push

[2018-09-01 11:54] aeciopires commented on #45
+1

[2018-09-28 12:36] urusha commented on #30
@sanderv32 , I believe `IGNORE` feature - is not what @CritasWang has described. Imagine gogs repository with 10 branches, and I want to trigger builds only for 3 of them. `IGNORE` will not help. See https://github.com/jenkinsci/gitlab-plugin#branch-filtering
I think the issue should be reopened.

[2018-11-21 04:50] trrtly commented on #45
+1

[2019-01-03 06:41] toan267 commented on #45
+1

[2019-07-02 06:01] fancyboynet commented on #30
Is it fixed now?

[2019-07-02 07:00] sanderv32 commented on #30
Seems like PR #52 is @CritasWang was talking about. Will merge this soon.

[2019-07-19 00:09] sanderv32 commented on #30
Just merged #61 and will be in the next release

[2019-07-19 00:18] sanderv32 commented on #45
Opened PR #62 for this.

[2019-08-12 19:25] u3shit opened #63 ""Incorrect secret" error after update"
- Gogs version (or commit ref): gitea 1.90
- Jenkins version: 2.176.2
- Jenkins modules used in combination with gogs-webhook-plugin:
- JSON Output of webhook: `{"result":"ERROR","message":"Incorrect secret"}`

## Description
After updating the plugin to 1.0.50, the webhook stopped working with "Invalid secret" error. I made sure the same secret is entered both at gitea (I created a gogs webhook t

[2019-08-12 19:31] u3shit commented on #63
Small update: I can get rid of the secret by manually deleting the `<gogsSecret>` line from the job's config.xml, but if I set up a new secret in the job properties afterwards, I receive the same error again.

[2019-08-12 21:06] sanderv32 commented on #63
@u3shit Will test this again, but can you send logs from Jenkins?

[2019-08-12 23:25] u3shit commented on #63
Um, yeah, sorry, the plugin is 1.0.15, apparently I can't copy 4 digits. I'm attaching a log (I removed one IP address from it by hand), but there's hardly any info in it. [jenkins.log](https://github.com/jenkinsci/gogs-webhook-plugin/files/3494679/jenkins.log)
I reentered the secret multiple times but it didn't help. And yes, unfortunately I tend to update everything at once when I notice that my

[2019-08-13 05:38] sanderv32 commented on #63
Can you try to downgrade the plugin first? If the problem still persist it can be something in Gitea.

[2019-08-13 07:32] urusha commented on #30
@sanderv32 I see Branch Filter is here. Thanks! But I didn't find a way to specify multiple branches. Is it possible? Should I file new report?

[2019-08-13 08:22] u3shit commented on #63
I downgraded to 1.0.14, reentered the secret at the jenkins job, now it works again.

[2019-08-13 17:12] sanderv32 commented on #30
Branch filter currently only works for one branch. If you want to specify multiple branches we need to think on how to do this

[2019-08-14 06:58] urusha commented on #30
Well, this is how it's in gitlab plugin:
![image](https://user-images.githubusercontent.com/1746504/62999353-b33f0b00-be5d-11e9-87b9-c6d26afc34ff.png)
We could start with regex or comma separation (with wildcards maybe)?

[2019-08-14 07:12] CritasWang commented on #30
https://github.com/CritasWang/gogs-webhook-plugin/tree/master/bin

Here is me forked from jenkinsci/gogs-webhook-plugin

But I did not submit PR.Because I don't think it's good enough.just for temporary use。

![image](https://user-images.githubusercontent.com/19721744/63001300-ec02d280-bea5-11e9-93f2-25541c88ff77.png)
![image](https://user-images.githubusercontent.com/19721744/63001318-f58c3a80-be

[2019-08-14 11:39] u3shit commented on #63
I finally figured out how to build this plugin, built the git master, installed, that worked too. Then I reinstalled the 1.0.15 release, and now it works too. I have no idea what happened here.

[2019-08-23 20:59] u3shit commented on #63
Okay, it looks like it works if I enter a 32 character secret (or shorter), but it produces invalid secret error if I specify a 64 character one. Is there a limit on the length of the secret?

[2019-08-24 07:16] sanderv32 commented on #63
If there is a limit it's in the library of Jenkins itself. I'm not aware of
this.

On Fri, 23 Aug 2019 at 22:59, u3shit <notifications@github.com> wrote:

--
Unix is very simple, but it takes a genius to understand the simplicity.
(Dennis Ritchie)

[2020-03-22 16:30] ghhenry commented on #44
In additon to that also the deletion of a branch should trigger a scan. Gogs is able to send notifications for both (creation and deletion) but the plugin does not process them.

[2020-05-20 13:59] fgm opened #65 "Job not found"
- Gogs version (or commit ref): 0.12.0+dev
- Jenkins version: 2.222.3
- Jenkins modules used in combination with gogs-webhook-plugin:
- JSON Output of webhook:
-- Request:
[code]
-- Response
[code]

## Description

This seems similar to my original issue in #8, but more recently #36 as I first had the issue with the job in a folder (thefolder/thejob), so I recreated it at root, without a folder, a

[2020-05-20 14:52] fgm commented on #65
I /think/ I found what's happening: apparently, if a branch does not contain a `Jenkinsfile` it is marked as not found, which may or may not be desired, but should probably be documented.

[2020-08-20 13:03] zibber2015 opened #66 "verson 1.0.15 webhook run ansible-playbook stuck"
The issue will be closed without any reasons if it does not satisfy any of following requirements:

- os: centos 7
- Gogs version (or commit ref): version 1.0.15
- Jenkins version: jenkins-2.235.5-1.1.noarch
- Jenkins modules used in combination
   Ansible plugin  DingTalk

##
0. jenkins job only has ansible-playbook script and dingtalk  notify
1. manual run jenkins job works fine
2. with webhook

[2020-08-20 20:58] sanderv32 commented on #66
Can you please provide a Stacktrace from the Jenkins logfile

[2020-08-21 04:02] #66 closed

[2020-09-09 10:12] mqtt-fan opened #67 "Trigger parameterized Jenkins job with gogs webhook"
Hi all,

I created a parameterized Jenkins job. The parameter was defined in the gogs webhook tab in jenkins.

How can I start this parameterized job via gogs webhook?

In the gogs repo I put the following link into the payload url of the webhook:
http://myjenkins/gogs-webhook/?job=myparameterizedJob&var1=TEST

But it is not overriding the parameter var1 in the job.

Can you help me?

Versions
Gog

[2020-10-08 15:53] sanderv32 commented on #63
I'm closing this issue as we are using the secret methods which are provided by Jenkins. If there is a limit then it's in Jenkins itself but not in this plugin.

[2020-10-08 15:53] #63 closed

[2021-09-04 21:36] #67 closed